html {
  box-sizing: border-box;
  font-family: "Helvetica", sans-serif;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/* header style */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1000; /* Set a z-index to ensure it appears above other elements */
  border-bottom: 1px solid seashell;
}

.navheader ul li {
  display: inline;
  margin-right: 1rem;
}

.navheader ul li a {
  text-decoration: underline;
}

.navheader ul li a:hover {
  cursor: pointer;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  text-shadow: 0 0 1px #fff;
}

/* body styling */

/* mission section */
.mission {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  margin-top: 95px;
  margin-bottom: 65px;
}

.mission img {
  width: 85vw;
}

.missiontext {
  background-color: black;
  display: block;
  position: absolute;
  top: 600px;
  width: 86%;
  height: 90px;
  z-index: 1;
}

.missiontext h2 {
  padding-top: 8px;
  padding-bottom: 10px;
}

/* monthly tea section */
.teaheading {
  text-align: center;
  margin: 20px;
}
.teaheading h2 {
  padding: 20px;
}

.monthly_tea {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly;
  width: 1000px;
  margin: 0 auto;
}

.one img,
.two img,
.three img,
.four img,
.five img {
  width: 300px;
  height: 200px;
  margin: 10px;
  padding: 10px;
}

/* locations section */

#locationsh2 {
  position: relative;
  top: 100px;
  text-align: center;
  justify-content: center;
  margin: 20px;
}

.locations {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-image: url(images/img-locations-background.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80%;
  align-items: center;
  height: 600px;
}

.locations div {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 300px;
  text-align: center;
  justify-content: center;
  background-color: black;
}

.locations div p {
  padding: 20px;
  opacity: 1;
}

/* contact  */

.contact {
  text-align: center;
  margin: 20px;
}
.contact h2 {
  padding: 30px;
}
.contact h5 {
  padding: 20px;
}
